<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.ProductSalePropertyKeyMapper">

    <resultMap id="querySalePropertyByProductId" type="com.atguigu.entity.ProductSalePropertyKey" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="salePropertyValueList" ofType="com.atguigu.entity.ProductSalePropertyValue" autoMapping="true">
            <id property="id" column="sale_property_value_id"></id>
        </collection>
    </resultMap>
    <select id="querySalePropertyByProductId" resultMap="querySalePropertyByProductId">
        SELECT
        a.id,
        a.product_id,
        a.sale_property_key_id,
        a.sale_property_key_name,
        b.id sale_property_value_id,
        b.sale_property_value_name
        from product_sale_property_key a
        inner join product_sale_property_value b
        on a.product_id = b.product_id and a.sale_property_key_id = b.sale_property_key_id
        where a.product_id = #{productId}
    </select>

    <select id="getSkuSalePropertyKeyAndValue" resultMap="querySalePropertyByProductId">
    SELECT
        a.id,
        a.product_id,
        a.sale_property_key_id,
        a.sale_property_key_name,
        b.id sale_property_value_id,
        b.sale_property_value_name,
        c.sku_id,
        IF( c.sku_id IS NULL, 0, 1 ) is_selected
    FROM
        product_sale_property_key a
        INNER JOIN product_sale_property_value b
        ON a.product_id = b.product_id AND a.sale_property_key_id = b.sale_property_key_id
        LEFT JOIN sku_sale_property_value c
        ON c.sale_property_value_id = b.id  AND c.sku_id = #{skuId}
    WHERE
        a.product_id = #{productId}
    ORDER BY
        b.sale_property_key_id,
        b.id
    </select>

</mapper>
